.navbar {
  background-color: #fff5e9;
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  position: relative; /* EKLENDİ */
  z-index: 1000;       /* EKLENDİ */
}

.navbar-inner {
  width: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-item {
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
  color: #333;
}

.user-menu {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  padding: 10px 15px;
  min-width: 150px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-size: 0.95rem;
}

.dropdown-link:hover {
  color: #d4af37;
  font-weight: bold;
}

.dropdown-greeting {
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #555;
}
